@{
    Layout = "";
}
@using SmartStore.Web.Framework;

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/SmartStore.PayU/Content/images/logo200x53.png")" alt="PayU" />
	</span>
	<div class="media-body">
		@T("Plugins.Payments.PayUStandard.Fields.RedirectionTip")
	</div>
</div>
